.pull-left{float:left;}
.pull-right{float: right}
.margin-left-10{margin-left: 10px;}
.poster{width: 100px; margin-right:10px;}
.btn-default {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.movie-body{width: 390px;
  
    padding: 10px;}
input{ margin-bottom: 10px; border-radius: 10px; outline: none;text-indent: 10px; border:solid 1px #ccc;}